@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



main {

}


.page1 {
  width: 100%;
  height: 100vh;

  background-color: rgb(51, 51, 149);
}

.photoImg {
  width: 50px;
}


.page2 {
  width: 100%;
  height: 100vh;

  background-color: red;
}










.page3 {
  width: 100%;
  height: 100vh;

  position: relative;
  overflow: hidden;

  display: inline-flex;
  flex-direction: column;

  background-color: rgb(37 37 38);
}

.projectPageHeader {
  margin-top: 15px;
}

.testezLe-div {
  position: absolute;
  bottom: 26px;
  right: -196px;

  animation: testezLe-div 3s 0s ease infinite;
}
@keyframes testezLe-div {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.testezLe-div p {
  font-size: 1.5em;
  transform: rotate(8deg);
}
.testezLe-div svg {
  position: absolute;
    left: -62px;
    top: -19px;
    width: 100px;
    height: 100px;
    transform: rotate(154deg);
}

.shapeProject1 {
  position: absolute;
  bottom: -40%;
  left: -40%;
  width: 50%;
  height: 100%;
  transform: rotate(323deg);

  animation: shapeProjet1 0.7s 0s ease forwards;
}
@keyframes shapeProjet1 {
  from {
    left: -70%;
  }
  to {
    left: -40%;
  }
}


.shapeProject2 {
  position: absolute;
  top: -60%;
  right: -35%;
  width: 50%;
  height: 125%;
  transform: rotate(312deg);

  animation: shapeProjet2 0.7s 0s ease forwards
}
@keyframes shapeProjet2 {
  from {
    right: -70%;
  }
  to {
    right: -35%;
  }
}

.projectPageWrapper {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-evenly;

  /* align-items: center; */
  align-items: flex-start;

  flex: auto;

  margin-top: 25px;
}

.titleSection {
  font-size: 2em;
  width: 100%;
  text-align: center;
}

.splide {
  width: 250px;
  visibility: visible !important;
  margin: 25px auto 10px auto;
}
.splide__pagination {
  display: inline-flex !important;
}
.splide__progress__bar {
  margin: 5px auto;
  height: 2px !important;
}
.splide__pagination {
  bottom: -1.5em !important;
}
.splide__arrow--next {
  right: -3em !important;
}
.splide__arrow--prev {
  left: -3em !important;
}
.carrousselImg {
  width: 250px;
  border-radius: 8px;
}

.projectsNav-list {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  gap: 10px;
}
.projectsNav-list li {
  padding: 3px 12px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}


.iframeContainer {
  position: relative;
  padding: 15px 5px 30px 5px;
  background-color: #191919;
  border: 3px solid;
  border-radius: 22px;
}
.iframe {
  height: 600px;
  width: 350px;
  border-radius: 7px;
}

.btnMockup0 {
  position: absolute;
  height: 6px;
  width: 6px;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
.btnMockup1 {
  position: absolute;
  height: 102px;
  width: 4px;
  right: -5px;
  top: 34px;
}
.btnShutDown {
  cursor: pointer;
  position: absolute;
  height: 40px;
  width: 4px;
  right: -5px;
  top: 160px;

  transition: all 0.3s;
}
.btnRefresh {
  cursor: pointer;
  position: absolute;
  height: 21px;
  width: 22px;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;

  border: 3px solid;

  transition: all 0.3s;
}

.shutDownIcon {
    opacity: 0;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all 0.3s;
}

.refreshInfoBtn {
  opacity: 0;
  position: absolute;
  color: black;
  bottom: -44px;
  /* bottom: 0px; */
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 7px;
  border-radius: 3px;
  /* border: 1px solid black; */

  transition: all 0.3s;
}

.projectGitBtn {
  cursor: pointer;
  position: absolute;
  right: -60px;
  top: 35px;
  border: 2px solid;
  padding: 5px;
  display: inline-flex;
  border-radius: 3px;
  background-color: #191919;

  transition: all 0.3s;
}
.projectGitIcon {
  font-size: 2em;
  transition: all 0.3s;
}
.projectSiteBtn {
  cursor: pointer;
  position: absolute;
  right: -60px;
  top: 90px;
  border: 2px solid;
  padding: 5px;
  display: inline-flex;
  border-radius: 3px;
  background-color: #191919;

  transition: all 0.3s;
}
.projectSiteIcon {
  font-size: 2em;
  transition: all 0.3s;
}

.projectSkillList {
  display: inline-flex;
  gap: 10px;
}
.projectSkillList li {
  padding: 3px 7px;
  border-radius: 20px;
  color: black;
  font-size: 0.9em;
  font-weight: 500;
  margin: 10px auto;
}
.projectInfosDiv {
  text-align: center;
}
.projectName {
  font-size: 2.4em;
}
.projectFuncList {
  text-align: left;
  list-style-type: disc;

  max-width: 70%;
  margin: 25px auto 10px auto;
}

.projectDescription {
  font-size: 1.3em;
}

.projectLogo {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 160px;

  filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.7));

}



.page4 {
  width: 100%;
  height: 100vh;

  background-color: purple;
}