@media only screen and (max-width: 767px) {



    .isDesktop {
        display: none;
    }
    .isMobile {
        display: block;
    }
    .isMobileFlex {
        display: inline-flex;
    }



    .faIcon {
        font-size: 1.2em;
        margin: 0px 7px;
    }





    .page3 {
        /* height: fit-content; */

        /* Temporaire: */
        /* opacity: 1; */
    }



    .shapeProject1 {
        bottom: -54%;
        left: -40%;
        width: 72%;
        height: 120%;
        transform: rotate(340deg);

        box-shadow: 0px 0px 10px black;
    }

    .shapeProject2 {
        top: -66%;
        width: 57%;

        transform: rotate(314deg);
        box-shadow: 0px 0px 10px black;
    }

    .titleSection {
        font-size: 1.5em;
    }


    .pageIcon {
        right: 13px;
        top: 14px;
        font-size: 2em;


    }
    .projectCardsList {
        flex-direction: column !important;
        margin: 25px 0;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
            ". ."
            ". ."
            ". .";
    }
    .projectCard{
        width: 100% !important;
        padding: 2px 2px 6px 2px;
        border-bottom: 1px solid var(--primary-cyan);

        box-shadow: 0px 0px 5px #000000;
    }

    .projectPageWrapper {
        flex-direction: column;
    }

    .projectCard_primSkills {
        gap: 4px;
    }

    .projectLogo {
        top: 0px;
        right: 0px;

        width: 50px;
    }

    .projectCard_footerBottom {
        width: 95%;
    }

    .projectCard_primSkills li {
        padding: 1px 7px 0px 7px;
        font-weight: 500;
    }

    .NbrCommits {
        gap:2px;
    }

    .projectCard_thumbnail {
        height: 12vh;
        padding: 0px 0px 0px 0px;

        border-radius: 8px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        border-width: 0px !important;
    }


    .projectCard_infos {
        margin: 8px auto 5px auto;
    }


    .headerSubTitle {
        font-size: 76%;
        width: 90%;
        margin: 0 auto;

        background: linear-gradient(90deg, rgba(29, 29, 36, 0) 0%, var(--secondary-cyan) 40%, var(--secondary-cyan) 60%, rgba(29, 29, 36, 0) 100%);;
    }


    .projectCard-footer {
        font-size: 70%;
    }


    .projectInfosDiv {
        margin-top: 0px;
    }













    /* Page Contact */

    .contactBoutons-wrapper {
        display: inline-flex;
        flex-direction: column;
        gap: 5px;
    }

    .btnSocial-wrapper {
        width: 50px;
        padding: 0px;
        border-width: 0px;
    }
    .btnSocial {
        display:grid;
        width: 60px;
        padding: 7px 0px;
    }
    .btnSocial-icon {
        width: 33px;
        height: 33px;
    }

    .socialsContactsDiv {
        margin: 0;
        gap: 10px;
        border-width: 0px;
        padding-left: 15px;
        border-left: 1px solid var(--primary-cyan);
    }

    .faIcon-localisation {
        width: 20px !important;
      }


    .emailLine {
        justify-content: start;
    }

    .faIconTel {
        margin: "0px 14px 0px 6px";
    }


    .iconAndTextSocials {
        /* margin-bottom: 0.3em; */
    }

    .emailContact {
        font-size: 1em;
    }
    .localisationTxt {
        font-size: 1em;
    }

    .contactMain {
       flex-direction: column-reverse !important;
       margin: 5px auto 12px auto;
       gap: 0;
    }

    .contactMain {
        width: 90%;
        flex-direction: column;
    }
    .contact-section1 {
        width: 100%;
        padding: 10px 15px 15px 15px;
        margin: 20px auto;

        border-width: 1px;
    }
    .contact-section2 {
        width: 100%;

        display: inline-flex;
        flex-direction: row;

        justify-content: center;

        gap: 20px;
    }

    .githubCalendarDiv {
        width: 100%;
    }

    .testMobiel {
        /* width: 100% !important;
        justify-content: end !important; */
    }

    .contactFormHeader {
        color: var(--primary-cyan);
        font-size: 1.2em;
      }







    .page3 {
        /* height: fit-content; */
    }



    .btnSocial-txt {
        font-size: 1em;
    }

    .form-label {
        margin-bottom: 0.3em !important;
    }

    .mb-3 {
        margin-bottom: 0.4em;
    }

    .footer {
        height: 4vh;
        font-size: 0.85em;
        color: #d9d9d9;
    }

}