@media only screen and (max-width: 767px) {


    /* Temporaire pas de scroll mobile */
    body {
        overflow: hidden;
    }

    .isDesktop {
        display: none;
    }
    .isMobile {
        display: block;
    }
    .isMobileFlex {
        display: inline-flex;
    }



    .faIcon {
        font-size: 1.2em;
        margin: 0px 7px;
    }





    .page2 {
        opacity: 1;
    }
    .page3 {
        opacity: 1;
    }

    .page4 {
        opacity: 1;
    }

    .page5 {
        opacity: 1;
    }


    .contact-section2-wrap {
        background-color: var(--secondary-cyan);
        width: auto;
        padding: 18px 18px;
        border-radius: 2px;
        transform: rotate(358deg);
        filter: drop-shadow(0px 4px 5px black);

        transform: rotate(3deg) translateX(10%);
        opacity: 0;
        animation: contact-section2-wrap 1.3s 1.5s ease forwards;
    
    }

    @keyframes contact-section2-wrap {
        from {
          opacity: 0;
          transform: rotate(3deg) translateX(10%);
        }
        to {
          opacity: 1;
          transform: rotate(1deg) translateX(0%);
        }
      }



    .shapeProject1 {
        bottom: -70%;
        left: -40%;
        width: 65%;
        height: 120%;
        transform: rotate(340deg);

        box-shadow: 0px 0px 10px black;
    }

    .shapeProject2-accueil {
        width: 39;
    }

    .shapeProject2 {
        top: -67%;
        width: 57%;

        transform: rotate(300deg);
        box-shadow: 0px 0px 10px black;
    }

    .titleSection {
        font-size: 2.2em;

        /* margin-bottom: 0.4em; */
        margin-bottom: 0;
        margin-left: 10px;
        text-align: left;
        justify-content: flex-start;

        gap: 7px;
    }

    .projectCard_title {
        font-size: 1.1em;
    }

    .projectPageHeader {
        filter: drop-shadow(0px 4px 4px black);

        margin-top: 12px;

        /* left: 0px; */
        padding-left: 0px;
    }

    .projectsNav-list {
        margin-bottom: 0;
    }

    .porjectPageHeaderTitle {
        display: inline-flex;
        width: 100%;
    }

    .backToProjectsBtn {
        position: relative;
        padding: 12px;
    }
    .pPH-resp {
        display: inline-flex;
        flex-direction: column;
        width: 100%;

        margin-top: 3px;
      }



    .projectGitIcon {
        font-size: 3.4em;
    }
    .projectSiteIcon {
        font-size: 3.4em;
    }


    .iframeContainer {
        width: 85%;
        margin: 0 auto;
        filter: drop-shadow(0px 14px 4px black);
    }
    .iframe {
        width: 100%;
        height: 68vh;
    }


    .ppih-resp {
        margin-bottom: 11px !important;
    }


    .pageIcon {
        right: 13px;
        top: 14px;
        font-size: 2em;


    }
    .projectCardsList {
        flex-direction: column !important;
        margin: 25px 0;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 13px 10px;
        grid-template-areas:
            ". ."
            ". ."
            ". .";
    }
    .projectCard{
        width: 100% !important;
        padding: 2px 2px 6px 2px;
        border-bottom-width: 1px;

        box-shadow: 0px 0px 5px #000000;

        border-radius: 6px;

        /* background: rgb(19,79,76);
        background: -moz-linear-gradient(180deg, #1d1d24 0%, rgba(12,46,62,1) 100%);
        background: -webkit-linear-gradient(180deg, #1d1d24 0%, rgba(12,46,62,1) 100%);
        background: linear-gradient(180deg, #1d1d24 0%, rgba(12,46,62,1) 100%); */
        

        filter: drop-shadow(0px 3px 5px black);
    }

    .projectPageWrapper {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;

        margin: 0 auto;
        margin-top: 17px;
        position: relative;
        left: 50%;

        /* Scale pour les dimensions iframe responsiv même très petit, ATTENTION */

        transform: translateX(-50%) scale(0.8) translateY(-85px);
    }


    .accueil-mockup-bottom-wrapper {
        /* display: none; */
    }


    .paginationProject {
        z-index: 999999;
        display: block;
        position: relative;
        text-align: center;
        margin-left: 0;
    }


    .flipped {
        animation: flipped 0.7s 0s ease forwards;
    }
    @keyframes flipped {
        0% {
            opacity: 1;
            /* transform: rotateY(0deg); */
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            /* transform: rotateY(360deg); */
        }
    }


    .scrollMobile {
        /* overflow-y: scroll; */
        overflow-y: scroll;
        min-height: 100vh;
        overflow-x: hidden;
    }



    .projectPageInfoHeader {
        margin-bottom: 25px;
        margin-left: 5px;

        /* padding-left: 18px; */
        padding: 5px 22px 4px 18px;
        border-left-width: 2px;

        filter: drop-shadow(-5px 7px 6px black);
    }

    .testezLe-div {
        bottom: -72px;
        right: -30px;
    }

    .projectName {
        margin-top: 0;
        font-size: 2em;
    }
    .projectDescription {
        margin-bottom: 0;
        font-size: 1.1em;
    }

    .projectCard_primSkills {
        gap: 4px;
    }

    .projectLogo {
        top: 0px;
        right: 0px;

        width: 50px;
    }

    .projectCard_footerBottom {
        width: 95%;
    }

    .projectCard_primSkills li {
        padding: 1px 7px 0px 7px;
        font-weight: bold;
    }

    .NbrCommits {
        gap:4px;
        color: #afb7b6;

        top: 0;
    }

    .nbrCommitsNbr {
        align-self: flex-end;
        font-size: 1.2em;
        line-height: 1em;
        margin-right: 2px;
    }

    .projectCard_thumbnail {
        height: 12vh;
        padding: 0px 0px 0px 0px;

        border-radius: 0px;

        border-radius: 3px;

        border-width: 0px !important;
    }


    .mobile_gifPlayBtn {
        position: absolute;
        z-index: 99999999;

        font-size: 3.8em;
        color: var(--primary-cyan);

        width: fit-content;
        height: auto;

        bottom: 7px;
        right: 17px;

        padding: 0px 15px;
    }




    .faCommitsMobile {
        height: 1.6em;
    }


    .projectCard_infos {
        display: inline-flex;
        flex-direction: column;

        margin: 8px auto 5px auto;
        

        flex: 1;
    }

    .projectCard_description {
        height: max-content;
        display: flex;
        align-items: center;
        align-self: center;

        font-size: 0.73em;
        line-height: 1.2em;

        flex: 1;
    }


    .toggleFlipCard {
        position: absolute;
        z-index: 9999999;
        height: 50px;
        width: 62px;

        right: 11px;
        top: 112px;
        margin-left: 0px;
    }


    .projectSiteBtn {
        position: relative;
        right: 0;
        top: 0;
        border-width: 0px;
    }

    .projectGitBtn {
        position: relative;
        right: 0;
        top: 0;
        border-width: 0px;
    }

    .toggleFlipCard svg {
        transform: scale(1.3);
        fill: #0a1f29e8;
        width: 48px;
        height: 48px;
        border-radius: 100px;
        padding: 0px;
        filter: drop-shadow(5px 3px 4px black);
    }

    .toggleFlipCard svg g {
        transform: translate(4px, 5px);
    }


    .projectPageNumber {
        position: relative;
        bottom: 2px;
    }


    .projectCardInfo-mobile {
        position: relative;
        display: inline-flex;
        flex-direction: row;

        gap: 25px;
        margin-top: 45px;

        width: 100%;
        justify-content: center;
    }


    .headerSubTitle {
        font-size: 76%;
        width: 90%;
        margin: 0 auto;

        background: linear-gradient(90deg, rgba(29, 29, 36, 0) 0%, var(--secondary-cyan) 40%, var(--secondary-cyan) 60%, rgba(29, 29, 36, 0) 100%);;
    }


    .projectCard-footer {
        font-size: 75%;

        margin-top: 7px;

        display: flex;
        flex-flow: column-reverse;
        flex: 0;
    }


    .projectInfosDiv {
        margin-top: 0px;
        width: 100%;
    }









    .contact-reseauIcon {
        font-size: 2em;
    }




    /* Page Contact */

    .contactBoutons-wrapper {
        display: inline-flex;
        flex-direction: column;
        gap: 10px;

        margin-right: 14px;
        margin-top: 2px;
    }

    .btnSocial-wrapper {
        width: 50px;
        padding: 0px;
        border-width: 0px;
    }
    .btnSocial {
        display:grid;
        width: 60px;
        padding: 7px 0px;
    }
    .btnSocial-icon {
        width: 33px;
        height: 33px;
    }

    .socialsContactsDiv {
        margin: 0;
        justify-content: space-between;
        gap: 8px;
        border-width: 0px;
        padding-left: 15px;
        border-left: 1px solid var(--primary-cyan);
    }

    .faIcon-localisation {
        width: 20px !important;
      }


    .emailLine {
        justify-content: start;
    }

    .faIconTel {
        margin: "0px 14px 0px 6px";
    }


    .iconAndTextSocials {
        /* margin-bottom: 0.3em; */
    }

    .emailContact {
        font-size: 1em;
    }
    .localisationTxt {
        font-size: 1em;
    }

    .contactMain {
       flex-direction: column-reverse !important;
       margin: 5px auto 12px auto;
       gap: 0;
    }

    .contactMain {
        width: 90%;
        flex-direction: column;
    }
    .contact-section1 {
        width: 95%;
        padding: 15px 17px 15px 17px;
        margin: 20px auto;

        border-radius: 2px;

        transform: rotate(3deg);

        filter: drop-shadow(1px 3px 6px black);
        /* border-left: 1px solid var(--primary-cyan); */
        /* box-shadow: 0px 0px 0px transparent; */

        animation: contact-section1 1s 0.7s ease forwards;

    }
    @keyframes contact-section1 {
        from {
          opacity: 0;
          transform: rotate(0deg) translateX(-20%);
      
        }
        to {
          opacity: 1;
          transform: rotate(-5deg) translateX(0);
      
        }
      }


      .navBar-list-ul {
        margin-top: 0px;
        padding: 0px 25px !important;
      }


      .navBar {
        position: absolute;
        z-index: 99999999999999999999999999999;
        background-color: var(--secondary-cyan);
        width: 70%;
        height: 100%;
      
        transform: translateX(-70%);
        opacity: 0;
        /* display: none; */
      
        transition: all 0.5s;
      }
      
      .activeNav {
        transform: translateX(-0%);
        opacity: 1;
        /* display: block; */
      }


      .hobbies-main {
        flex-direction: column;
        top: 14%;
        gap: 70px;
      }
      .aquariumWrapper {
        top: 7%;
        right: 14%;
      }
      .galleryDiv {
        margin: 0 auto;
        width: 80%;
        transform: rotate3d(1, 1, 1, 355deg);
      }
      .image-gallery-image {
        border:7px solid #f0f9f9;
      }
      .aquariumPng {
        filter: drop-shadow(4px 5px 4px black);
      }
      .hobbies-list ul {
        width: fit-content;
        margin: 0 auto;
      }
      .aquarium-shape {
        bottom: -2%;
        left: -45%;
        transform: rotate(63deg);
      }

      .divingMask {
        top: 1%;
        right: 6%;
        transform: rotate(47deg);
        filter: drop-shadow(7px 5px 6px black);
      }

    .contact-section2 {
        width: 100%;

        display: inline-flex;
        flex-direction: row;

        justify-content: center;

        gap: 20px;
    }

    .btn-primary {
        background-color: var(--primary-cyan) !important;
        color: var(--secondary-cyan) !important;
    }

    .mb-3 {
        margin-bottom: 0.5rem !important;
    }

    .githubCalendarDiv {
        width: 100%;
    }

    .contactForm-sendBtn {
        display: inline-flex !important;
        align-items: center !important;
        gap: 8px !important;
    }

    .formGroup {
        margin-bottom: 0.5rem !important;
    }

    .contactFormHeader {
        color: var(--primary-cyan);
        font-size: 1.2em;
      }



      .githubCalendarLink {
        width: 100%;
      }


      .styles-module_scrollContainer__-bJC8 {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
      }
      .styles-module_container__GBNxC {
        overflow: scroll;
        transform: scale(1) !important;
        overflow: hidden;
      }
      .styles-module_calendar__sT1ND {
        width: 100%;
        height: auto;
        padding: 8px 10px !important;
        border-radius: 5px;
      }

      .react-activity-calendar__count {
        display: none;

        width: 100%;
        text-align: right;
        font-size: 1.1em;
      }

      .styles-module_legendColors__kFY2e {
        display: none !important;
      }



    .page3 {
        /* height: fit-content; */
    }



    .btnSocial-txt {
        font-size: 1em;
    }

    .form-label {
        margin-bottom: 0.3em !important;
    }


    .footer {
        height: 4vh;
        font-size: 0.85em;
        color: #d9d9d9;
    }


    .home-visitCard-reseauIcon {
        font-size: 1.65em;
        color: var(--primary-cyan);
      }


      .home-visitCard-linksDiv {
        display: inline-flex;
        width: 100%;
        justify-content: flex-end;
        gap: 15px;
      }

    .homeMain-title {
        font-size: 1.6em;
        color: rgb(219, 231, 233);
        text-shadow: 0px 2px 1px black;
        margin-bottom: 0em;

        line-height: 1.2em;
    }





    /* HOME: Scales et adaptations */

    .bocal-exterieur {
        height: 345px;
        width: 375px;
    }

    .plantAccueil {
        width: 500px;
        filter: drop-shadow(-4px 4px 6px black);
    }
    .plantAccueil-div {
        transform: scale(0.42);
        /* left: -184px;
        top: -210px; */
        left: -200px;
        top: -226px;

        z-index: 999;
    }

 
    

    .plate {
        filter: drop-shadow(6px 11px 11px black)
    }

    .tasseCafe {
        transform: scale(0.48) translate(60px, -20px) rotate(35deg);
        top: -66px;
        right: -50px;

        opacity: 0;
        animation: tasseCafe 0.8s 0.6s ease forwards;
    }
    @keyframes tasseCafe {
        from {
            opacity: 0;
            transform: scale(0.48) translate(60px, -20px) rotate(35deg);
        }
        to {
            opacity: 1;
            transform: scale(0.48) translate(0px, 0px) rotate(0deg);
        }
    }

    .tasseCafe-text {
        display: none;
    }

    .fishBowl-div {
        position: absolute;
        left: 107px;
        top: -43px;
        width: 100px;
        filter: drop-shadow(-12px 11px 6px black);
    }



    .cv-pdf-dlIcon {
        position: absolute;
        bottom: 15px;
        right: 8%;
        padding: 11px 38px;
        background-color: var(--primary-cyan);
        transform: translateX(-8%);
        filter: drop-shadow(0px 3px 3px black);
        font-size: 2.7em;
        border-radius: 2px;
        color: var(--secondary-cyan);
      }


    .cv-pdf-wrapper {
        position: absolute;
        left: auto;
        right: -65px;
        bottom: -7px;
        transform: translateX(0%) rotate(14deg);
        width: 317px;
        height: 286px;
        filter: drop-shadow(0px 2px 3px black);
    }


    .parcours-chronologie {
        width: 85%;
        margin: 35px auto;
    
        padding: 7px 9px;
        background-color: var(--secondary-cyan);
        border-radius: 2px;
        transform: rotate(358deg);
    
        filter: drop-shadow(1px 3px 6px black);
    }


    .projectFuncList {
        text-align: left;
        margin: 15px auto 10px 20px;
        /* Pour saut de ligne projet 1 */
        white-space: pre-wrap;
        width: fit-content;
        min-width: 85%;
        max-width: 100%;

        background-color: var(--secondary-cyan);
        list-style-type: square;
        padding: 4px 13px 4px 25px !important;
        transform: rotate(359deg);
        filter: drop-shadow(2px 4px 6px black);
    }
    

    .post-it-textDiv {
        font-size: 0.8em;
        margin-top: 0px;
    }

    .handle {
        filter: drop-shadow(-14px 4px 6px black);
    }

    .accueil-mockup-top-wrapper {
        perspective: 300px;
    }
    
    .accueil-mockup {
        position: absolute;

        width: fit-content;
        transform: rotate(348deg) translate(1px, 57px);

        top: 0;
        left: 0;
    }
    .accueil-mockup-top {
        margin: 0 auto;
        height: 100px;
        width: 160px;

        background-color: var(--secondary-cyan);
        border: 1px solid var(--primary-cyan);
    }
    .accueil-mockup-bottom {
        transform: translate(6px, -8px);
        height: 78px;
        /* width: 239px; */
        width: 148px;

        border-radius: 2px 2px 5px 5px;

        filter: drop-shadow(-6px 2px 9px black);

        border-left: 1px solid var(--secondary-cyan);

        /* background: rgb(20,74,87);
        background: -moz-linear-gradient(125deg, rgba(20,74,87,1) 0%, rgba(25,141,167,1) 40%, rgba(27,168,195,1) 75%, rgba(0,213,255,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(20,74,87,1) 0%, rgba(25,141,167,1) 40%, rgba(27,168,195,1) 75%, rgba(0,213,255,1) 100%);
        background: linear-gradient(125deg, rgba(20,74,87,1) 0%, rgba(25,141,167,1) 40%, rgba(27,168,195,1) 75%, rgba(0,213,255,1) 100%); */
        background: rgb(29,65,74);
        background: -moz-linear-gradient(125deg, rgba(29,65,74,1) 0%, rgba(41,150,175,1) 32%, rgba(44,189,217,1) 78%, rgba(99,229,255,1) 100%);
        background: -webkit-linear-gradient(125deg, rgba(29,65,74,1) 0%, rgba(41,150,175,1) 32%, rgba(44,189,217,1) 78%, rgba(99,229,255,1) 100%);
        background: linear-gradient(125deg, rgba(29,65,74,1) 0%, rgba(41,150,175,1) 32%, rgba(44,189,217,1) 78%, rgba(99,229,255,1) 100%);
    }
    .keyboard {
        padding: 3px;
        grid-template-columns: repeat(14, 1fr);
        grid-gap: 2px;
        background-color: transparent;
    }
    .key {
        border-radius: 2px;
        padding: 3px;
        background-color: #146185;

        border: 0px;
        border-bottom: 1px solid var(--secondary-cyan);
        border-left: 1px solid var(--secondary-cyan);
    }
    .mockup-pad {
        width: 45px;
        height: 26px;
        top: 2px;
        background-color: #146185;

        border: 0px;
        border-top: 1px solid var(--secondary-cyan);
        border-right: 1px solid var(--secondary-cyan);
        opacity: 0.85;
    }


    .accueil-visitCard-content {
        font-size: 0.85em;
    }


    .homeMain-header {
        width: 200px;
        height: 107px;
        background-color: var(--secondary-cyan);

        padding: 12px 10px 10px 13px;
        border-radius: 1px;

        overflow: hidden;
        filter: drop-shadow(0px 3px 4px black);
        transform: rotate(360deg) translateX(-15px);

        opacity: 0;
        animation: homeMain-header 0.8s 1s ease forwards;
      
    }

    @keyframes homeMain-header {
        from {
          opacity: 0;
          transform: rotate(360deg) translateX(-15px);
      
        }
        to {
          opacity: 1;
          transform: rotate(357deg) translateX(-0px);
      
        }
      }


    .homeMain-header-mobileVisitCard {
        text-align: left;
    }


    .accueil-visitCard-shape {
        width: 139px;
        height: 85px;
        background-color: var(--primary-cyan);
        position: absolute;
        top: -74px;
        right: -55px;
        transform: rotate(26deg);
    }

    .accueil-visitCard-shape2 {
        width: 139px;
        height: 85px;
        background-color: var(--primary-cyan);
        position: absolute;
        top: -74px;
        right: -55px;
        transform: rotate(26deg);
    }

    .post-it-container {
        right: 20%;
        top: 10%;
        transform: scale(0.55) translate(80%, -10%) rotate(12deg);
    }


    .amt-imgWrapper {
        display: flex;
    }
    .amt-imgWrapper img {
        padding: 3px 4px 2px;

        height: 0%;
        width: 2%;
        align-self: center;

        animation: amt-imgWrapper-img 0.9s 0.3s ease forwards;
    }
    @keyframes amt-imgWrapper-img {
        0% {
            width: 2%;
            height: 0%;
        }
        30% {
            width: 100%;
        }
        100% {
            height: 100%
        }
    }

    .portable {
        display: none;
    }
    .shapeProjet {
        display: none;
    }


    .post-it-pickTrait {
    filter: drop-shadow(1px 1px 1px black);
    }

    .homeMain {
        /* height: 82%;
        justify-content: flex-end;
        gap: 50px; */

        height: 100%;
        justify-content: flex-end;
        gap: 50px;
        bottom: 14vh;

        text-align: left;
    }
    .homeMain-subtitle {
        font-size: 1em;
        text-shadow: 0px 1px 2px black;

        width: 100%;
        display: block;
    }


    .fishBowl-img {
        height: auto;
    }


    .splide__slide {
        margin-right: 0rem !important;
    }

    .homeLinksUl {
        display: inline-flex;
        flex-direction: column;    
    }

    .homeLinksLi {
        background: var(--primary-cyan);
        color: #0a191c;
        padding: 6px 15px;
        margin: 9px auto;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: row;

        filter: drop-shadow(0px 4px 6px black);

        min-width: 150px;
        width: 170px;
        display: inline-flex;
        justify-content: space-around;
    }
    .homeLinksLi h2 {
        margin-bottom: 0;
        font-size: 1.2em;
        width: 105px;
    }

    .homeLinksLi svg {
        font-size: 1.6em;
    }


    .shapeProject1-accueil {
        width: 66%;
        transform: rotate(325deg);
    }

}