@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* --primary-cyan: #1c8ec6 !important; */
  --primary-cyan: #1bbbda !important;
  --secondary-cyan: #0c2e3e !important;
  --background-color: #1d1d24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}




.isDesktop {
  display: block;
}
.isMobile {
  display: none;
}
.isMobileFlex {
  display: none;
}


body {
  /* color: rgb(var(--foreground-rgb)); */
  color: #efefef !important;

  background: linear-gradient(56deg, rgba(23,25,35,1) 0%, rgba(29,36,47,1) 41%, rgba(34,46,58,1) 50%, rgba(23,25,35,0.9943339884782038) 75%, rgba(23,25,35,0.9943339884782038) 99%);

  font-family: 'Nunito' !important;
}

ul {
  padding-left: 0rem !important;
}

a {
  text-decoration: none !important;
  color: #efefef !important;
}






.homeMain {
    position: relative;
    z-index: 9;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* gap: 70px; */
    gap: 30px;
}

.homeMain-title {
  font-weight: bold;
  color: #1a1b1b;
  text-shadow: 2px 1px var(--primary-cyan);
}

.wip1 {

}
.homeMain-subtitle {
  color: #00fff3;
  font-size: 1.4em;
  text-shadow: 1px 1px 2px black;
}
.homeMain-wip {
  display: flex;
    flex-direction: row;
    align-items: center;
}

.homeMain-wip-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 2px solid var(--primary-cyan);
}

.homeMain-wip-text a {
  color: var(--primary-cyan) !important;
  /* text-decoration: underline; */

}

.scrollSvg {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 99px;
  height: 115px;

  font-size: 2em;
  z-index: 99999;

  /* fill:white; */
  transition: all 0.3s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn-primary {
  background-color: var(--primary-cyan);
  color: black;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


main {

}


.splide__slide img {
  filter: drop-shadow(0px 0px 5px white);
}


.page1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  background-color: var(--background-color);

  opacity: 0;
  transition: 0.5s;
}


.shapeProjet {
  cursor: pointer;
  position: absolute;
  width: 470px;
  height: 500px;
  border-radius: 10px;
  /* background-color: var(--secondary-cyan); */
  background-color: #0e435c;
  border: 4px solid var(--primary-cyan);
  transform: rotate(20deg);
  z-index: 9999;
  right: -60px;
  bottom: -240px;

  transition: all 0.4s;
}
.titleShapeProjet {
    /* color: #1a1a1a; */
    color: var(--primary-cyan);
    z-index: 9999999999999999;
    position: relative;
    font-size: 3em;
    top: 10px;

    text-align: center;
    /* left: 50%; */
    /* transform: translateX(-50%); */

    transition: all 0.4s;

}

.shapeProjet-fakeUl {
  margin-top: 60px;
}
.shapeProjet-fakeLi {
  /* background-color: red; */
  height: 35px;
  margin: 28px auto;
  padding-inline-start: 4em;
}
.shapeProjet-fakeLi div {
  height: 5px;
  background-color: #00ddffa2;
}

.shapeProjet-icon {
    font-size: 2.1em;
    opacity: 0.7;
    color: #f1b16b;
}


.accueil-mockup {
  cursor: pointer;
}


.accueil-mockup-top-wrapper {
  perspective: 800px; 
}
.accueil-mockup-top {
  /* height: 167px;
  width: 272px; */
  height: 235px;
  width: 405px;

  border-radius: 5px;
  background-color: var(--primary-cyan);
  transform-style: preserve-3d;
  transform: rotateX(330deg); 

  transition: all 0.4s;
}

/* Pas de perspective sur le clavier comme il est à plat */
.accueil-mockup-bottom-wrapper {
  position: relative;
  /* perspective: 800px;  */
}
.accueil-mockup-bottom {
  /* height: 100px;
  width: 260px;
  transform: translateX(6px) translateY(-10px); */
  height: 180px;
  width: 374px;
  transform: translateX(16px) translateY(-16px);

  border-radius: 5px;
  background-color: var(--primary-cyan);

  filter: drop-shadow(0px 5px 3px black);
}


.cableSvg {
    left: -100%;
    fill: none;
    stroke: var(--primary-cyan);
    stroke-width: 2px;
    position: absolute;
    width: 564px;
    height: 225px;
}

.amt-imgWrapper {
  height: 100%;
  width: 100%;
}
.amt-imgWrapper img {
  /* padding: 3px 1px 7px; */
  padding: 4px 2px 2px;
  height: 100%;
  width: 100%;

  /* box-shadow: 0px 0px 100px -20px #85fffe; */
  animation: boxShadow-amt 3s 0s linear infinite;
}
@keyframes boxShadow-amt {
  0% {
    box-shadow: 0px 0px 100px -20px #00ffff;
  }
  50% {
    box-shadow: 0px 0px 100px -20px #ffffff;
  }
  100% {
    box-shadow: 0px 0px 100px -20px #00ffff;
  }
}








.keyboard {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-gap: 2px;
  padding: 5px;
  background-color: var(--primary-cyan);
  border: 0px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  font-size: 0;
}

.mockup-pad {
  background-color: var(--secondary-cyan);
  border: 1px solid var(--secondary-cyan);
  border-radius: 5px;
  text-align: center;
  padding: 7px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  width: 71px;
    height: 53px;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
    position: relative;
}

.key {
  /* background-color: #e0e0e0; */
  background-color: var(--secondary-cyan);
  border: 1px solid var(--secondary-cyan);
  border-radius: 5px;
  text-align: center;
  padding: 7px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.key.backspace {
  grid-column: span 2;
}

.key.tab {
  grid-column: span 1.5;
}

.key.capslock {
  grid-column: span 2;
}

.key.enter {
  grid-column: span 2;
}

.key.shift-left {
  grid-column: span 2;
}

.key.shift-right {
  grid-column: span 2;
}

.key.ctrl {
  grid-column: span 1.5;
}

.key.space {
  grid-column: span 4;
}








.tasseCafe-text {
  cursor: pointer;
  position: absolute;
  z-index: 999999;
  top: 100%;
  transform: translateY(-70px);
  right: -21px;

  transition: all 0.4s;
}
.tasseCafe-text svg {
  overflow: visible;

  transition: all 0.4s;
}
.tasseCafe-text text {
  transition: all 0.4s;
}

.tasseCafe {
  transform: scale(1.5);
  z-index: 9999;
    position: absolute;

    /* top: -24px; */

    /* A droite, sur le bleu */
    top: -4px;
    right: 17px;

    transition: all 0.4s;
}


.cup {
  position: relative;
  width: 150px;
  height: 150px;
  background: #c69c6d;
  border-radius: 50%;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.1);
}


.reflect {
  position: absolute;
  /* top: 25px;
  left: 25px; */
  top: 19px;
  left: 13px;
  width: 120px;
  height: 120px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 50%;
  z-index: 1;

  transition: all 0.4s;
}

.cup::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  /* background: #4b2e0e; */
  background: rgb(50,16,3);
  background: radial-gradient(circle, rgba(50,16,3,1) 30%, rgba(106,43,5,1) 80%, rgba(150,67,21,1) 95%, rgba(187,107,36,1) 100%);
  border-radius: 50%;
}

/* .cup::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 30px;
  width: 40px;
  height: 20px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transform: rotate(-15deg);
} */

.plate {
  position: absolute;
  z-index: -1;
  bottom: 50%;
  right: 50%;
  height: 200px;
  width: 200px;
  transform: translate(50%, 50%);

  /* background-color: #c69c6d29; */
  /* background-color: #352b1f; */
  background-color: var(--secondary-cyan);
  border: 1px solid #c69c6d;

  border-radius: 50%;

  filter: drop-shadow(1px 4px 6px black);

  transition: all 0.4s;
}
.handle {
  /* position: absolute;
  top: 47%;
  right: -49px;
  width: 59px;
  height: 30px;
  border: 18px solid #c69c6d;
  border-left: none;
  border-radius: 19%;
  transform: rotate(9deg); */

  /* Tasse à droite: */
  position: absolute;
    top: 100%;
    left: 72px;
    width: 59px;
    height: 30px;
    border: 18px solid #c69c6d;
    border-left: none;
    border-radius: 19%;
    transform: rotate(254deg);

    transition: all 0.4s;
}



.portable-header {
  display: flex;
    justify-content: space-between;
  background-color: #0b2835;
  font-size: 0.7em;
  opacity: 0.5;
  padding: 2px 6px;
}






.portable-skillGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;

    padding: 25px 10px;
    width: 100%;
}

.portable-skillGrid2 {
    width: 100%;
}


.portable-skillGrid div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portable-skillGrid2 div {
  padding: 10px 30px;
}


.portable-skillGrid2-title {
  color: #f1b16b;
}
.portable-skillGrid2-li {
  color: rgb(199, 199, 199);
  list-style-type: disc;
}


.portable-app {
  font-size: 2.5em;
  /* color: var(--primary-cyan); */
  color: #f1b16b;
}





.stylo {
  position: absolute;
  left: 50px;
}


.pen {
  position: relative;
  width: 15px;
  height: 200px;
  background: var(--primary-cyan);
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.pen::before {
  content: '';
  position: absolute;
  top: -30px;
  left: -5px;
  width: 25px;
  height: 30px;
  background: #555;
  border-radius: 15px 15px 0 0;
  z-index: 1;
}

.pen::after {
  content: '';
  position: absolute;
  top: -50px;
  left: -10px;
  width: 35px;
  height: 20px;
  background: #777;
  border-radius: 50%;
  z-index: 2;
}

.cap {
  position: absolute;
  top: -70px;
  left: -5px;
  width: 25px;
  height: 50px;
  background: #333;
  border-radius: 15px 15px 0 0;
  z-index: 3;
}

.clip {
  position: absolute;
  top: 0;
  left: 15px;
  width: 3px;
  height: 80px;
  background: #888;
  border-radius: 1px;
  z-index: 4;
}

.tip {
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 17px;
  height: 13px;
  background: #006a70;
  /* border-radius: 50% / 50%; */
  z-index: 1;
}

.nib {
  position: absolute;
  bottom: -20px;
  left: 1px;
  width: 12px;
  height: 20px;
  background: #f5f5f5;
  border-radius: 50% / 40%;
  border: 1px solid #333;
  z-index: 0;
}







.portable {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  left: 60px;
  bottom: 20px;
  transform: rotate(348deg);

  transition: all 0.4s;
}

.portable-text {
    font-size: 1.8em;
    /* color: rgb(226, 237, 237); */
    color: var(--primary-cyan);
    position: relative;
    bottom: 5px;

    transition: all 0.4s;
}

.portable-div {
  height: 470px;
  width: 265px;
  border-radius: 17px;
  padding: 20px 5px 44px 5px;
  background-color: rgb(20, 21, 21);
  border: 1px solid var(--primary-cyan);

  filter: drop-shadow(black 4px 6px 6px);

  transition: all 0.4s;
}

.portable-screen {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: var(--secondary-cyan);
  overflow: hidden;

  transition: all 0.4s;
}

.portable-contentWrapper {
  display: inline-flex;
  width: 200%;
  transition: all 0.4s 0.2s;
}


.portable-btnMockup1 {
  position: absolute;
  right: -2px;
  top: 90px;
  height: 85px;
  width: 2px;
  background-color: var(--primary-cyan);
}
.portable-btnMockup2 {
  position: absolute;
  right: -2px;
  top: 200px;
  height: 50px;
  width: 2px;
  background-color: var(--primary-cyan);
}















.photoImg {
  width: 50px;
}


.page2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  background-color: var(--background-color);

  opacity: 0;
  transition: 0.5s;
}


.skills-list {
  display: inline-flex;
  gap: 5px;
}
.tools-list {
  display: inline-flex;
  gap: 4px;
}
.skill-Fa-Icon {
  font-size: 2em;
}









.page3 {
  width: 100%;
  height: 100vh;

  position: relative;
  overflow: hidden;

  display: inline-flex;
  flex-direction: column;

  background-color: var(--background-color);

  opacity: 0;
  transition: 0.5s;
}

.styles-module_container__GBNxC {
  transform: scale(0.8);
}

.projectPageHeader {
  /* height: 10vh; */

  opacity: 0;
  transform: translateY(-100px);

  margin-top: 22px;

  filter: drop-shadow(2px 4px 6px black);

  animation: projectPageHeader 1s 0s ease forwards;
}
@keyframes projectPageHeader {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.pPH-resp {
  display: block;
}

.testezLe-div {
  position: absolute;
  bottom: 26px;
  right: -196px;

  animation: testezLe-div 3s 0s ease infinite;
}
@keyframes testezLe-div {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.testezLe-div p {
  font-size: 1.5em;
  transform: rotate(8deg);
}
.testezLe-div svg {
  position: absolute;
    left: -62px;
    top: -19px;
    width: 100px;
    height: 100px;
    transform: rotate(154deg);
}

.shapeProject1 {
  position: absolute;
  bottom: -40%;
  left: -40%;
  width: 55%;
  height: 100%;
  transform: rotate(325deg);

  box-shadow: 0px 0px 25px black;

  animation: shapeProjet1 0.7s 0s ease forwards;
}
@keyframes shapeProjet1 {
  from {
    left: -70%;
  }
  to {
    left: -40%;
  }
}

.shapeProject1-accueil {
  position: absolute;
  z-index: 999;
  bottom: -60%;
  left: -40%;
  width: 55%;
  height: 100%;
  transform: rotate(325deg);

  background-color: var(--primary-cyan);

  box-shadow: 0px 0px 25px black;

  animation: shapeProjet1 0.7s 0s ease forwards;
}


.contactBoutons-wrapper {
  flex-direction: column;
    display: inline-flex;
    gap: 20px;
}

.faIcon-localisation {
  width: 34px;
}

.shapeProject2 {
  position: absolute;
  z-index: 9;
  top: -60%;
  right: -35%;
  width: 39%;
  height: 125%;
  transform: rotate(301deg);

  box-shadow: 0px 0px 25px black;

  animation: shapeProjet2 0.7s 0s ease forwards
}
@keyframes shapeProjet2 {
  from {
    right: -70%;
  }
  to {
    right: -35%;
  }
}


.shapeProject2-accueil {
  position: absolute;
  z-index: 9;
  top: -60%;
  right: -35%;
  width: 39%;
  height: 125%;
  transform: rotate(301deg);

  box-shadow: 0px 0px 25px black;

  transition: 0.4s;
  background-color: var(--primary-cyan);

  animation: shapeProjet2 0.7s 0s ease forwards
}



.plantAccueil-div {
  position: absolute;
  left: -125px;
  top: -125px;
}


.plantAccueil {
  position: relative;
  z-index: 999;
}



.fishBowl-div {
  position: absolute;
  left: 265px;
  top: -136px;

  filter: drop-shadow(2px 4px 6px black);
}





/* Pot de plante: */
.bocal-exterieur {
  position: absolute;

  top: 21px;
  left: 50px;

  height: 350px;
  width: 350px;
  background-color: var(--primary-cyan);
  border-radius: 50%;

  filter: drop-shadow(2px 4px 6px black);
}

.bocal-ouverture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 300px;
  width: 300px;
  background-color: var(--secondary-cyan);
  border: 1px solid #02b4f3;
  border-radius: 50%;
}


.projectPageWrapper {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-evenly;

  /* align-items: center; */
  align-items: flex-start;

  flex: auto;

  margin-top: 25px;
}

.titleSection {
  font-size: 2.4em;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.splide {
  width: 250px;
  visibility: visible !important;
  margin: 25px auto 10px auto;
}
.splide__pagination {
  display: inline-flex !important;
  padding: 0 !important;
}
.splide__progress {
  position: relative;
  bottom: 19px;

  width: 94%;
  margin: 0 auto;
}
.splide__progress__bar {
  margin: 5px auto;
  height: 5px !important;
  border-radius: 5px;
}
.splide__pagination {
  bottom: -1.5em !important;
}

.splide__toggle {
  position: absolute;
  bottom: 4px;
  right: 50%;
  transform: translateX(50%);
  font-size: 1.5em;
  line-height: 1.2em;
    z-index: 99;
    padding: 0px 7px;
    background-color: var(--secondary-cyan);
    border-radius: 30px;
}
.splide__toggle__pause {
  position: relative;
  top: 2px;
  font-size: 1.1em;
}
.splide__toggle__play {
  position: relative;
  top: 2px;
  font-size: 0.9em;
}
.splide__arrow--next {
  right: -3em !important;
  background: #ccc0 !important;
}
.splide__arrow--prev {
  left: -3em !important;
  background: #ccc0 !important;
}
.splide__arrow svg {
  fill: var(--primary-cyan) !important;
  height: 2.5em !important;
  width: 2.5em !important;
  stroke-linejoin: "round";
}
.splide__arrow svg path { 
  stroke-linejoin: "round";
}
.carrousselImg {
  width: 250px;
  border-radius: 8px;
}

.projectsNav-list {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  gap: 10px;
}
.projectsNav-list li {
  padding: 3px 11px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}


.iframeContainer {
  position: relative;
  padding: 18px 5px 36px 5px;
  background-color: #060606;
  border: 3px solid;
  border-radius: 22px;

  opacity: 0;
  transform: rotateY(83deg);
  filter: drop-shadow(-3px 6px 2px black);
  animation: iframeContainer 1.5s 0.5s ease forwards;
}
@keyframes iframeContainer {
  from {
    opacity: 0;
    transform: rotateY(83deg);
  }
  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}


.iframe {
  height: 600px;
  width: 350px;
  border-radius: 7px;
}

.btnMockup0 {
  position: absolute;
  height: 6px;
  width: 6px;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
.btnMockup1 {
  position: absolute;
  height: 118px;
  width: 4px;
  right: -5px;
  top: 35px;

  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.btnShutDown {
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 4px;
  right: -5px;
  top: 200px;

  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;

  transition: all 0.3s;
}
.btnRefresh {
  cursor: pointer;
  position: absolute;
  height: 25px;
  width: 25px;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;

  border: 3px solid;

  transition: all 0.3s;
}

.shutDownIcon {
    opacity: 0;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all 0.3s;
}

.refreshInfoBtn {
  opacity: 0;
  position: absolute;
  color: black;
  bottom: -44px;
  /* bottom: 0px; */
  left: 50%;
  transform: translateX(-50%);
  padding: 3px 7px;
  border-radius: 3px;
  /* border: 1px solid black; */

  transition: all 0.3s;
}

.projectPageNumber {
  opacity: 0.7;
    width: 100%;
    text-align: left;
    display: flex;
}

.projectGitBtn {
  cursor: pointer;
  position: absolute;
  right: -76px;
  top: 34px;
  border: 3px solid;
  padding: 6px 6px 4px 5px;
  display: inline-flex;
  border-radius: 7px;
  border-top-right-radius: 21px;
  background-color: #191919;

  transition: all 0.3s;
}
.projectGitIcon {
  font-size: 2.5em;
  transition: all 0.3s;
}
.projectSiteBtn {
  cursor: pointer;
  position: absolute;
  right: -76px;
  top: 100px;
  border: 3px solid;
  padding: 4px 6px 6px 5px;
  display: inline-flex;
  border-radius: 7px;
  border-bottom-right-radius: 21px;
  background-color: #191919;

  transition: all 0.3s;
}
.projectSiteIcon {
  font-size: 2.4em;
  transition: all 0.3s;
}

.projectSkillList {
  width: 100%;
  display: inline-flex;
  gap: 10px;
  margin-bottom: 0px;
}
.projectSkillList li {
  padding: 3px 7px 0px 7px;
  border-radius: 20px;
  color: black;
  font-size: 0.9em;
  font-weight: 600;
  margin: 10px 0px;
}
.projectInfosDiv {
  text-align: center;

  width: 35%;
  margin-top: 22px;

  opacity: 0;
  transform: translateX(200px);
  animation: projectInfosDiv 1s 0.5s ease forwards;
}
@keyframes projectInfosDiv {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


.projectCard-footer {
  /* display: inline-flex;
  justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  width: 100%;

  flex:0;

  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.projectCard_footerBottom {
  display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.NbrCommits {
  display: block;
  text-align: right;

  display: inline-flex;
    align-items: center;
    gap: 5px;

    position: relative;
    top: 2px;

  color: #afb7b6;
  /* color: var(--primary-cyan); */
  font-size: 0.8em;
}

.styles-module_calendar__sT1ND {
  /* background-color: #1c8ec638 !important; */
  background-color: var(--secondary-cyan);
  padding: 11px 0px;
  border-radius: 16px;
}
.react-activity-calendar__count {
  color: var(--primary-cyan);
  font-size: 1.3em;
  font-weight: bold;
}

.projectCard_primSkills {
  display: inline-flex;
  gap: 8px;
  padding-left: 0em;
}
.projectCard_primSkills li {
  /* background-color: orange; */
  padding: 1px 8px 1px 8px;
  align-items: center;
  display: flex;
  border-radius: 16px;
  color: black;
  font-weight: 600;
  font-size: 0.8em;
}

.projectCard_thumbnail {
  position: relative;
  z-index: 99999;
  height: 30vh;
  margin: 0 auto;
  border: 1px solid transparent;

  padding: 10px 4px 20px 4px;
  background-color: #060606;
  border-radius: 10px;

  transition: all 0.4s;
}

.projectCard_thumbnail_homeShape {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  border: 1px solid;

  opacity: 0.5;
}

.projectCard_infos {
  margin: 10px auto;
  text-align: center;

  display: inline-flex;
  flex-direction: column;

  flex: 1;

  transition: all 0.3s;
}

.projectCard_title {
  font-size: 1.6em;

  margin-bottom: 0.1em;
}
.projectCard_description {
  font-size: 1em;
  margin-bottom: 0.1em;
  flex: 1;
  align-content: center;
}

.projectName {
  font-size: 2.4em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
}
.projectPageInfoHeader {
  padding-left: 22px;
  border-left: 3px solid;

  background-color: var(--secondary-cyan);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 35px;
  width: fit-content;
  padding: 1px 20px;
  margin-bottom: 10px;
}


.projectFuncList {
  text-align: left;
  list-style-type: disc;
  margin: 15px auto 10px 45px;
  /* Pour saut de ligne projet 1 */
  white-space: pre-wrap;

  width: fit-content;
  min-width: 55%;
  max-width: 100%;
}

.projectDescription {
  font-size: 1.3em;
  text-align: left;
}

.projectLogo {
  position: absolute;
  z-index: 999;
  top: 10px;
  right: 10px;

  width: 110px;

  /* filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.7)); */

  opacity: 0;
  animation: fadeInLogoProject 1.5s 0.5s ease forwards;
}
@keyframes fadeInLogoProject {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.headerSubTitle {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background: rgb(29,29,36);
  background: linear-gradient(90deg, rgba(29,29,36,0) 20%, rgba(255,255,255,0.0474407292213761) 40%, rgba(255,255,255,0.05024184966955536) 60%, rgba(29,29,36,0) 80%); */
  
  background: rgb(29,29,36);
  background: linear-gradient(90deg, rgba(29,29,36,0) 20%, var(--secondary-cyan) 40%, var(--secondary-cyan) 60%, rgba(29,29,36,0) 80%);


  padding: 8px;
}

.githubCalendarLink {
  /* height: 40vh; */
  align-items: center;
  display: flex;

  /* height: auto;
  display: block; */
  width: fit-content;
  margin: 10px auto;

  opacity: 0;
  transform: translateY(200px);
  animation: githubCalendarLink 1s 1.7s ease forwards;
}
@keyframes githubCalendarLink {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}


.githubCalendarDiv {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 15px;

  transition: all 0.3s;
}
.githubCalendarTitle {
  /* text-align: center;
  margin: 5px auto 15px auto; */
  margin-bottom: 0;
}

.iconAndText {
  display: flex;
  justify-content: center; 
  align-items: center;
}
.iconAndTextSocials {
  justify-content: flex-start !important;
}


.socialsContactsDiv {
  border-left: 3px solid var(--primary-cyan);
    margin-left: 25px;
    margin-top: 25px;

    
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
}

.localisationTxt {
  font-size: 1.2em;
}

.projectCardsList {
  z-index: 99;
  display: inline-flex;
  gap: 15px;
  justify-content: center;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px auto 30px auto;
}

.projectCard {
  cursor: pointer;

  display: flex;
  flex-direction: column;

  width: 21%;

  background-color: var(--secondary-cyan);
  padding: 6px 15px 12px 15px;
  border-radius: 11px;
  

  border-bottom: 5px solid var(--primary-cyan);

  box-shadow: 0px 0px 00px #00000000;

  opacity: 0;
  animation: fadeIn 0.7s ease forwards;
  transition: all 0.3s;
}

.backToProjectsBtn {
  cursor: pointer;
  position: absolute;
  padding: 15px;
  font-size: 2.3em;
  margin-left: 15px;
  opacity: 1;

  color: var(--primary-cyan);

  transition: all 0.3s;
}



.disclaimerFirefox {
  position: absolute;
  bottom: 100%;
  width: 100%;
  text-align: center;
  color: #ff6d6d;
  gap: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
  background-color: #00000045;
  border-radius: 5px;
  padding: 5px;
}




.page4 {
  width: 100%;
  height: 100vh;

  background-color: var(--background-color);

  opacity: 0;
  transition: 0.5s;
}



.page5 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: var(--background-color);

  opacity: 0;
  transition: 0.5s;
}

.contactMain {
  display: inline-flex;
  z-index: 99;
  width: 60%;
  margin: 0 auto;
  gap: 3%;
  justify-content: space-evenly;
  align-items: center;

  flex:1;
}

.contact-section1 {
  width: 50%;
  padding: 16px 23px 20px 20px;
  /* background-color: #28282f; */
  background-color: var(--secondary-cyan);
  border-radius: 13px;

  border: 3px solid #00d7ff;
  box-shadow: 0px 0px 15px #00d7ff;
}
.contact-section2 {
  width: fit-content;
  text-align: center;
  display: inline-flex;
  flex-direction: column;

  gap: 35px;
}



.text-mutedd {
  color: #adadad !important;
}

.emailContact {
  text-decoration: underline;
  color: var(--primary-cyan);
  font-size: 1.2em;
  text-underline-offset: 5px;
}


.btnSocial-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 3px;
  border-radius: 10px;

  width: 220px;
  border: 2px solid var(--primary-cyan);
  
}
.btnSocial {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 11px 0px;
  border-radius: 5px;

  width: 220px;
  /* border: 2px solid var(--primary-cyan); */

  transition: all 0.3s;
}

.btnSocial-icon {
  width: 35px;
  height: 35px;
}

.btnSocial-txt {
  font-size: 1.2em;
}

.faIcon {
  font-size: 2em;
  color: var(--primary-cyan);
  margin: 0 15px;
}
.faIcon-chevron {
  font-size: 1em;
  color: var(--primary-cyan);
  margin: 0px 0px;
}
.slash {
  color: var(--primary-cyan);
  font-size: 1.5em;
  line-height: 0;
  position: relative;
  top: 0px;
  right: 4px;
}

.faSpinner {
  animation: faSpinner 1.5s 0s ease infinite;
}
@keyframes faSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pageIcon {
  position: absolute;
  z-index: 999;
  right: 15px;
  top: 15px;
  font-size: 6.5em;



  /* color: var(--background-color); */
  color: var(--secondary-cyan);

  opacity: 0;
  animation: fadeInLogoProject 1.5s 0.5s ease forwards;
}

@keyframes fadeInIconePage {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}



.skill-li svg {
  width: 3.5rem !important;
  height: 3.5rem !important;
}
.tool-li svg {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.contactFormHeader {
  /* color: var(--primary-cyan); */
  color: #00ceff;
}


.faIconTel {
  width:"28px";
  position:"relative";
  left:"3px";
  margin:"0px 16px";
}

.footer {
  height: 10vh;
  z-index: 99;
  background-color: #19191e;
  /* text-align: center; */
  align-items: center;
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}


/* Attention il faut que la classe soit déclarée après les section  */
.active {
  opacity: 1;
}